.RapaH_header_logo {
    margin: 2rem 0;
    font-family: 'Noto Sans', sans-serif;
}

.RapaH_header_button {
    margin-bottom: 2rem;
}

.RapaH_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Noto Sans', sans-serif;
}

.RapaH_footer_button {
    margin-top: 2rem;
}